body, html {
  margin: 0;
  margin-top:40px;
  height: 100%;
  font-family: 'Merriweather', sans-serif;
  background-color: rgb(208, 223, 177);
}

h1 {
  font-family: 'Lora', serif;
}

main {
  padding: 20px;
}
