.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 209);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top:50px;
  font-family: 'Merriweather', sans-serif;
}

.book-details button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.book-details .gotcha-button {
  background-color: rgb(184, 3, 3);
}

.book-details .gotcha-button:hover {
  background-color: rgb(132, 2, 2);
}

.book-details .checkedout-button {
  background-color: rgb(174, 174, 174);
  color: black;
}

.book-details .checkedout-button:hover {
  background-color:rgb(130, 130, 130);
}

.book-info {
  text-align: center;
}

.book-info img {
  width: 128px;
  height: 192px;
  margin-bottom: 20px;
}

.book-info h2 {
  margin-bottom: 10px;
}

