.nav-bar {
  width: 100%;
  /* background-color: #002e1e; */
  background-color: #6b8e23;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1000;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.logo {
  width: 80px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.nav-item {
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-item:hover {
  background-color: #556b2f;
}
